# MongoDB Atlas Connection String
MONGODB_URI=your_mongodb_connection_string_here
MONGODB_DB=albam_db

# 6-digit Security Passcode for your wife & you
NEXT_PUBLIC_ALBUM_PIN=312005

# 4-digit Secret Private Vault Passcode
NEXT_PUBLIC_PRIVATE_VAULT_PIN=0702

